[DEFAULT]
user=ocid1.user.oc1..aaaaaaaawmerwd4zijwf2zpp57bivnwco55selywxdn4uri2tn6lbfksn6nq
fingerprint=45:72:a3:d8:e9:b8:42:33:40:dc:ee:1b:ae:a1:b2:5d
tenancy=ocid1.tenancy.oc1..aaaaaaaaz35ggfjdfspxtxltuptpbomwoutbvsqgklwk6p6ulhgaytxcwwyq
region=us-chicago-1
key_file=<path to your private keyfile> # TODO